<!DOCTYPE html>
<html lang="en"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>VG - Homepage</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
<main>
    <h1 sec:authorize="isAnonymous()">Welcome</h1>
    <div class="actions-container">
        <th:block sec:authorize="isAnonymous()">
            <a class="btn btn-primary" th:href="@{/login}">Login</a>
            <a class="btn btn-secondary" th:href="@{/register}">Register</a>
        </th:block>
    </div>
</main>
</body>
</html>